.fill-invoice {
  background: #ffffff;
  padding: 2em;
  width: 70%;
  display: inline-block;

  .invoice-title {
    text-decoration: capitalize;
    font-size: 2.4em;
  }

  .datepickers {
    padding: 1em 0;
    float: right;
  }

  .invoice-items {
    padding-top: 5em;
  }

  input[type='number'] {
    -moz-appearance:textfield;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}
