.fill-invoice {
  background: #ffffff;
  padding: 2em;
  width: 70%;
  display: inline-block;

  .invoice-header {
    .form-control#invoice-number {
      text-align: right;
    }
    .datepickers {
      padding: 1em 0;
      float: right;
    }
  }

  .invoice-title {
    text-decoration: capitalize;
    font-size: 2.4em;
  }

  .invoice-items {
    padding-top: 5em;
  }

  .remove-item-button {
    color: #9A0A0A;
  }
}
