<div class="text-right">
  <strong>Total: $ {{i.calculateTotal()}}</strong>
</div>
<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Rate</th>
    <th>Amount</th>
    <th></th>
  </tr>
  <tr ng-repeat="item in i.itemList track by $index">
    <td>
      <input type="text" class="form-control" placeholder="Item name" ng-model="item.name">
    </td>
    <td>
      <input type="number" class="form-control" placeholder="Quantity" ng-model="item.quantity">
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="number" class="form-control" ng-model="item.rate">
      </div>
    </td>
    <td>
      {{ item.amount = item.quantity * item.rate}}
    </td>
    <td class="remove-item">
      <button type="button" class="btn btn-link btn-xs remove-item-button" ng-click="i.removeItem($index)">
        <span class="glyphicon glyphicon-remove"></span>
      </button>
    </td>
  </tr>
</table>
<button type="button" class="btn btn-primary" ng-click="i.addNewItem()">Add item</button>
