<div class="text-right text-total">
  <strong>Total: &#36; {{i.calculateTotal()}}</strong>
</div>
<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Quantity</th>
    <th>Rate</th>
    <th>Amount</th>
    <th></th>
  </tr>
  <tr ng-repeat="item in i.itemList track by $index">
    <td>
      <input type="text" class="form-control" placeholder="Item name" ng-model="item.name">
    </td>
    <td>
      <input type="number" class="form-control" placeholder="Quantity" ng-model="item.quantity">
    </td>
    <td>
      <div class="input-group">
        <span class="input-group-addon">&#36;</span>
        <input type="number" class="form-control" ng-model="item.rate">
      </div>
    </td>
    <td>
      {{ item.amount = item.quantity * item.rate}}
    </td>
    <td class="remove-item">
      <button type="button" class="close" aria-label="Close" ng-click="i.removeItem($index)">
        <span aria-hidden="true">&times;</span>
      </button>
    </td>
  </tr>
</table>
<button type="button" class="btn btn-primary" ng-click="i.addNewItem()">Add item</button>

<div class="invoice-total">
  <form class="form-horizontal">
    <div class="form-group">
      <label for="subtotal" class="col-sm-6 control-label">Subtotal</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-addon">&#36;</span>
        <input type="number" class="form-control" id="subtotal" value="{{i.subtotal()}}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="tax" class="col-sm-6 control-label">Flat Tax</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-addon">&#36;</span>
        <input type="number" class="form-control" id="tax" ng-model="i.flatTax">
      </div>
    </div>
    <div class="form-group">
      <label for="total" class="col-sm-6 control-label">Total</label>
      <div class="col-sm-6 input-group">
        <span class="input-group-addon">&#36;</span>
        <input type="number" class="form-control" id="total" value="{{i.calculateTotal()}}" readonly>
      </div>
    </div>
  </form>
</div>
