<!DOCTYPE html>
<html lang="en" ng-app="simple-invoices">
<head>
    <meta charset="UTF-8">
    <title>Simple Invoices</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/angularjs-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="build/style.css">
</head>
<body>

<header>
  <nav class="navbar navbar-inverse">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</header>

<section class="content container">

  <section class="fill-invoice">
    <section class="invoice-header row">
      <div class="col-md-6">
        <div>
          Insert image
        </div>
        <div>
          <div>
            <textarea class="form-control" rows="2" cols="40" placeholder="Who is sending the invoice"></textarea>
          </div>
          <div>
            To
            <textarea class="form-control" rows="2" cols="40" placeholder="Who is getting the invoice"></textarea>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="invoice-number" class="col-sm-6 control-label">Number</label>
            <div class="input-group col-sm-6">
              <span class="input-group-addon">&#35;</span>
              <input type="text" id="invoice-number" class="form-control" value="1">
            </div>
          </div>
        </form>


        <div ng-controller="DateController as d" class="datepickers">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="send-date" class="col-sm-6 control-label">Date</label>
              <datepicker date-format="dd MMM yyyy" class="col-sm-6">
                <input type="text" class="form-control" id="send-date" ng-model="d.date" />
              </datepicker>
            </div>

            <div class="form-group">
              <label for="due-date" class="col-sm-6 control-label">Due Date</label>
              <datepicker date-format="dd MMM yyyy" class="col-sm-6">
                <input type="text" class="form-control" id="due-date" ng-model="d.dueDate" />
              </datepicker>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="invoice-items">
      <si-invoice-table>
      </si-invoice-table>
    </section>

    <section class="row invoice-footer">
      <form>
        <div class="notes form-group">
          <label for="notes">Notes</label>
          <textarea id="notes" class="form-control" cols="400" rows="3" placeholder="Notes - any relevant information not already covered"></textarea>
        </div>
        <div class="terms">
          <label for="terms">Terms and Conditions</label>
          <textarea id="terms" class="form-control" rows="3" placeholder="Terms and conditions - late fees, payment methods, delivery schedule"></textarea>
        </div>
      </form>
    </section>
  </section>

  <aside class="invoice-controls">
    <!-- invoice controls here -->
  </aside>
</section>

<footer>
  <ul class="footer-links">
    <li><a href="#">Help</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">The 52 challenge</a></li>
  </ul>
</footer>

<script src="libs/angular/angular.min.js"></script>
<script src="libs/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
<script src="build/all.js"></script>
</body>
</html>
