<!DOCTYPE html>
<html lang="en" ng-app="simple-invoices">
<head>
    <meta charset="UTF-8">
    <title>Simple Invoices</title>
    <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="libs/angularjs-datepicker/dist/angular-datepicker.min.css">
    <link rel="stylesheet" href="build/style.css">
</head>
<body>

<header>
  <nav class="navbar navbar-inverse">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Help</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</header>

<section class="content container">

  <section class="fill-invoice">
    <section class="invoice-header row">
      <div class="col-md-6">
        <div>
          Insert image
        </div>
        <div>
          <div>
            <textarea class="form-control" rows="2" cols="40" placeholder="Who is sending the invoice"></textarea>
          </div>
          <div>
            To
            <textarea class="form-control" rows="2" cols="40" placeholder="Who is getting the invoice"></textarea>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group pull-right">
          <label for="invoice-number" class="col-sm-3 control-label">Number</label>
          <div class="input-group col-sm-8">
            <span class="input-group-addon">#</span>
            <input type="text" id="invoice-number" class="form-control" value="1">
          </div>
        </div>


        <div ng-controller="DateCtrl as d" class="datepickers pull-right">
          <form class="form-horizontal">
            <div class="form-group">
              <label for="send-date" class="col-sm-6 control-label">Date</label>
              <datepicker date-format="dd MMM yyyy" class="col-sm-6">
                <input type="text" class="form-control" id="send-date" ng-model="d.date" />
              </datepicker>
            </div>

            <div class="form-group">
              <label for="due-date" class="col-sm-6 control-label">Due Date</label>
              <datepicker date-format="dd MMM yyyy" class="col-sm-6">
                <input type="text" class="form-control" id="due-date" ng-model="d.dueDate" />
              </datepicker>
            </div>
          </form>
        </div>
      </div>
    </section>

    <section class="invoice-items" ng-controller="InvoiceCtrl as i">
      <table class="table table-striped">
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>
            <input type="text" class="form-control" placeholder="Item name" ng-model="i.name">
          </td>
          <td>
            <input type="number" class="form-control" placeholder="Quantity" ng-model="i.quantity">
          </td>
          <td>
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="number" class="form-control" ng-model="i.rate">
            </div>
          </td>
          <td>
            {{i.quantity * i.rate}}
          </td>
        </tr>
      </table>
      <button type="button" class="btn btn-primary" ng-click="showVars()">Add item</button>
    </section>
  </section>

  <aside class="invoice-controls">
    <!-- invoice controls here -->
  </aside>

</section>

<script src="libs/angular/angular.min.js"></script>
<script src="libs/angularjs-datepicker/dist/angular-datepicker.min.js"></script>
<script src="build/all.js"></script>
</body>
</html>
